@import net.anopara.model.db.AdminPageDataSet
@import net.anopara.model.db.Post
@import net.anopara.sashimi.html._
@import play.twirl.api.Html
@(ren: AdminPageDataSet, post: Post)
@main("New Post", ren){
    @sidemenu(ren){
        <div id="vue-app">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6"><h2>Add new post</h2></div>
                    <div class="col-md-6 text-right">
                        <template>
                            <el-radio v-model=postType label="post" size="medium" border>Post</el-radio>
                            <el-radio v-model="postType" label="page" size="medium" border>Page</el-radio>
                        </template>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group"> <label>Title</label>
                            <el-input name="title" placeholder="Title" required v-model="title"></el-input></div>
                        <div class="form-group"> <label>Permalink</label>
                            <el-input name="permalink" placeholder="Link path" v-model="pathName" required></el-input></div>
                        <div class="form-group"> <label>Post date</label>
                            <el-date-picker
                            v-model="form.createdAt"
                            type="datetime"
                            placeholder="Post date">
                            </el-date-picker>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group"> <label>Category</label>
                            <el-select v-model="categories.selected" required>
                                <el-option
                                v-for="item in categories.list"
                                :key="item"
                                :label="item"
                                :value="item">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="form-group"> <label>Tag</label>
                            <v-select multiple taggable v-model="tags.selected" :options="tags.list"></v-select>
                        </div>
                        <div class="form-group"> <label>Status</label>
                            <select class="form-control" v-model="status">
                                <option value="publish">Publish</option>
                                <option value="draft">Draft</option>
                                <option value="hidden">Hidden</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-info btn-sm" type="button"
                        data-toggle="collapse" data-target="#advanced"
                        aria-expanded="false" aria-controls="advanced">Advanced</button>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group text-right">
                            <button class="btn btn-primary" type="button">Save</button>
                        </div>
                    </div>
                </div>
                <div id="advanced" class="collapse">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"> <label>Attribute</label>
                                <input name="attribute" class="form-control"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <style type="text/css" media="screen">
        </style>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
                    <textarea></textarea>
                </div>
            </div>
        </div>

        <link rel="stylesheet" href="@ren.route("/assets/sashimi/ext/sparksuite-simplemde-markdown-editor-6abda7a/dist/simplemde.min.css")">
        <script src="@ren.route("/assets/sashimi/ext/sparksuite-simplemde-markdown-editor-6abda7a/dist/simplemde.min.js")" type="text/javascript" charset="utf-8"></script>
        <script>
                const simplemde = new SimpleMDE({
                    spellChecker: false,
                    autoDownloadFontAwesome: false
                });
                let post = JSON.parse(`@Html(post.toJsonString)`);
                post.form = {};
                post.form.createdAt = new Date(post.createdAt);
                post.form.updatedAt = new Date(post.updatedAt);

                // TODO
                post.categories = {
                    list : ["a", "b", "c"],
                    selected : "b"
                };

                // TODO
                post.tags = {
                    list : ["#aaa", "#bbb", "#ccc"],
                    selected : ["#bbb", "#ccc"]
                };
                let vm = new Vue({
                    el: "#vue-app",
                    data: post
                });
        </script>
    }
}