@import net.anopara.model.db._
@import net.anopara.sashimi.html._
@import play.twirl.api.Html
@(admin: AdminPageDataSet, ren: RenderDataSet, tags: List[Tag], categories: List[Category])
@main("New Post", admin){
    @sidemenu(admin){
        <div id="vue-app">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6"><h2>Add new post</h2></div>
                    <div class="col-md-6 text-right">
                        <template>
                            <el-radio v-model=postType label="post" size="medium" border>Post</el-radio>
                            <el-radio v-model="postType" label="page" size="medium" border>Page</el-radio>
                        </template>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group"> <label>Title</label>
                            <el-input name="title" placeholder="Title" required v-model="title"></el-input></div>
                        <div class="form-group"> <label>Permalink</label>
                            <el-input name="permalink" placeholder="Link path" v-model="pathName" required></el-input></div>
                        <div class="form-group"> <label>Post date</label>
                            <el-date-picker
                            v-model="form.postedAt"
                            type="datetime"
                            placeholder="Post date">
                            </el-date-picker>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group"> <label>Category</label>
                            <el-select v-model="categories.selected" required>
                                <el-option
                                v-for="item in categories.list"
                                :label="item.name"
                                :value="item.id"
                                :key="item.id">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="form-group"> <label>Tag</label>
                            <v-select multiple taggable v-model="tags.selected" :options="tags.list"></v-select>
                        </div>
                        <div class="form-group"> <label>Status</label>
                            <select class="form-control" v-model="status">
                                <option value="publish">Publish</option>
                                <option value="draft">Draft</option>
                                <option value="hidden">Hidden</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-info btn-sm" type="button"
                        data-toggle="collapse" data-target="#advanced"
                        aria-expanded="false" aria-controls="advanced">Advanced</button>
                    </div>
                    <div class="col-md-4">
                        <div class="alert alert-success" id="message" style="display: none">{{message}}</div>
                    </div>
                    <div class="col-md-2 text-right">
                        <div class="btn-group">
                            <button class="btn btn-info" type="button" v-on:click="preview">Preview</button>
                            <button class="btn btn-primary" type="button" v-on:click="save">Save</button>
                        </div>
                    </div>
                </div>
                <div id="advanced" class="collapse">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"> <label>Attribute</label>
                                <input name="attribute" class="form-control" v-model="attribute"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <style type="text/css" media="screen">
        </style>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
                    <textarea>@ren.post.content</textarea>
                </div>
            </div>
        </div>

        <link rel="stylesheet" href="@admin.route("/assets/sashimi/ext/sparksuite-simplemde-markdown-editor-6abda7a/dist/simplemde.min.css")">
        <script src="@admin.route("/assets/sashimi/ext/sparksuite-simplemde-markdown-editor-6abda7a/dist/simplemde.min.js")" type="text/javascript" charset="utf-8"></script>
        <script>
            const simplemde = new SimpleMDE({
                spellChecker: false,
                autoDownloadFontAwesome: false
            });
            let post = JSON.parse(`@Html(ren.post.toJsonString)`);
            post.form = {};
            post.form.postedAt = new Date(post.postedAt);
            post.form.updatedAt = new Date(post.updatedAt);
            post.message = "";

            post.categories = {
                list : JSON.parse(`@Html(categories.map(_.toJsonString).mkString("[", ",", "]"))`),
                selected : "@ren.category.map(_.id)"
            };

            // TODO
            post.tags = {
                list: JSON.parse(`@Html(tags.map(_.toVSelectJsonString).mkString("[", ",", "]"))`),
                selected : @if(ren.tags.isEmpty) { [] } else { @ren.tags.map(_.id).mkString(",") }
            };
            let vm = new Vue({
                el: "#vue-app",
                data: post,
                watch: {
                    message: (newMsg, oldMsg) => {
                        this.message = newMsg;
                        if(newMsg !== ""){
                            $("#message").fadeIn();
                            setTimeout(() => {
                                $("#message").fadeOut(400, () => { post.message = ""; });
                            }, 4000);
                        }
                    }
                },
                methods: {
                    save: (context) => {
                        let promises = post.tags.selected.filter(i => !i.value).map(i => {
                            axios.put("/admin/tag/" + i.label).then(id => {
                                i.value = id.data;
                            }).catch(r => console.error(r))
                        });
                        axios.all(promises).then((_) => {
                            let saveObj = {};
                            saveObj.title = post.title;
                            saveObj.postType = post.postType;
                            saveObj.category = post.categories.selected;
                            saveObj.pathName = post.pathName;
                            saveObj.tags = post.tags.selected.filter(t => t.value).map(t => t.value);
                            saveObj.postedAt = post.form.postedAt.getTime();
                            saveObj.status = post.status;
                            saveObj.attribute = post.attribute;
                            saveObj.body = simplemde.value();

                            console.log(saveObj);
                            axios.post('/admin/edit', saveObj)
                                    .then(function (response) {
                                        console.log(response);
                                        post.message = "Saved.";
                                    })
                                    .catch(function (error) {
                                        console.log(error);
                                        post.message = "Save failed.";
                                    });
                        });
                    },
                    preview: (context) => {
                        console.log(context);
                    }
                }
            });
        </script>
    }
}